body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh; /* Full viewport height */
    margin: 0;
    background-color: #f7f7f7;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(10, 40px); /* Adjust as needed */
    gap: 2px;
    margin-bottom: 20px;
}

#gameBoard div {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    transition: background-color 0.2s ease;
}

#gameBoard div.alive {
    background-color: #4caf50; /* 살아있는 셀의 색상 */
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #2196f3;
    margin-top: 20px;
    margin-left: 300px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

#startButton:hover {
    background-color: #1976d2;
}

#boardSizeControls {
    position: absolute; /* 요소를 문서의 흐름에서 제거하고 위치를 지정합니다. */
    top: 20px; /* 상단에서 20px 떨어진 위치에 배치합니다. */
    left: 20px; /* 왼쪽에서 20px 떨어진 위치에 배치합니다. */
    background: #ffffff; /* 배경색 지정 */
    padding: 10px; /* 패딩 지정 */
    border-radius: 5px; /* 테두리 반경 지정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

#boardSizeInput,
#applyBoardSize {
    margin-right: 5px; /* 요소 사이의 오른쪽 여백 지정 */
}

/* 나머지 요소들을 중앙에 배치하기 위해 body의 스타일을 조정합니다. */
body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 상단 정렬로 변경 */
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    padding-top: 50px; /* 상단에 여백을 추가하여 중앙에 위치한 요소들이 상단에 있는 요소와 겹치지 않도록 합니다. */
}

#statusDisplay {
    margin-top: 10px;
    color: #333;
    font-size: 18px;
}

/* 반응형 디자인: 작은 화면에서 격자 사이즈 조정 */
@media (max-width: 600px) {
    #gameBoard {
        grid-template-columns: repeat(10, 20px);
    }

    #gameBoard div {
        width: 20px;
        height: 20px;
    }
}
